DB_HOST=seu_host
DB_PORT=sua_porta
DB_USERNAME=seu_usuario_banco
DB_PASSWORD=sua_senha_banco
DB_DATABASE=nome_do_seu_banco_dados

PGADMIN_DEFAULT_EMAIL=seu_email_pgadmin
PGADMIN_DEFAULT_PASSWORD=sua_senha_pgadmin

JWT_SECRET=sua_jwt_secret